.bill-list-card {
  width: 360px;
  border-radius: 12px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid rgba(0,0,0,0.06);
  border-color: #AFAFAF;
  font-family: Roboto, Arial, sans-serif;
}

.bill-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 4px;
}

.bill-left {
  display: flex;
  flex-direction: column;
}

.bill-title {
  font-size: 16px;
  font-weight: 500;
  color: rgba(0,0,0,0.65);
  margin-bottom: 10px;
}

.bill-date {
  font-size: 12px;
  color: #000000;
  margin-top: 4px;
}

.bill-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.bill-amount {
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}

.receipt-button {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 10px;
  border-radius: 8px;
  background: #DBFAD3;
  color: #000;
  border: none;
  font-size: 12px;
  cursor: pointer;
  height: 16px;
  width: 80px
}

.receipt-button svg {
  font-size: 16px;
}

.divider {
  height: 1px;
  background: rgba(0,0,0,0.06);
  margin: 0 -10px;
}